<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- CHT -->
  <!--
  <appSettings>
    <add key="catalogFile" value=".\PDM-Catalog_2017-11-06.csv"/>
    <add key="inputFile" value=".\CHT_2017-11-01.txt"/>
    <add key="batchFile" value=".\singlePdfCopy.bat"/>
    <add key="serverName" value="pdm.cht.moog.com"/>
    <add key="outputFile" value=".\CHT_import_2017-11-01.txt"/>
    <add key="misfitToys" value=".\CHT_importMisfits_2017-11-01.txt"/>
    <add key="jobTicketLocation" value=".\jobTickets\archive\2017-11-01\"/>
    <add key="uncRawPrefix" value="\\CHTTCVOL01.cht.moog.com"/>
    <add key="uncPdfPrefix" value="\\CHTTCVOL01.cht.moog.com\tcpdf"/>
    <add key="adlibDTD" value="C:\AdlibExpress.dtd"/>
    <add key="recentDateTime" value="1900-01-01"/>
    <add key="isWindows" value="true"/>
    <add key="isLuDateTime" value="false"/>
    <add key="isIeDateTime" value="false"/>
  </appSettings>
  -->

  <!-- CN -->
  <!--
  <appSettings>
    <add key="catalogFile" value=".\PDM-Catalog_2017-11-06.csv"/>
    <add key="inputFile" value=".\CN_2017-11-01.txt"/>
    <add key="batchFile" value=".\singlePdfCopy.bat"/>
    <add key="serverName" value="pdm.cn.moog.com"/>
    <add key="outputFile" value=".\CN_import_2017-11-01.txt"/>
    <add key="misfitToys" value=".\CN_importMisfits_2017-11-01.txt"/>
    <add key="jobTicketLocation" value=".\jobTickets\archive\2017-11-01\"/>
    <add key="uncRawPrefix" value="\\cnpu1svwi003012.cn.moog.com"/>
    <add key="uncPdfPrefix" value="\\cnpu1svwi003012.cn.moog.com\tcpdf"/>
    <add key="adlibDTD" value="C:\AdlibExpress.dtd"/>
    <add key="recentDateTime" value="1900-01-01"/>
    <add key="isWindows" value="true"/>
    <add key="isLuDateTime" value="false"/>
    <add key="isIeDateTime" value="false"/>
  </appSettings>
  -->

  <!-- DE -->
  <!--
  <appSettings>
    <add key="catalogFile" value=".\PDM-Catalog_2017-11-06.csv"/>
    <add key="inputFile" value=".\DE_2017-11-06.txt"/>
    <add key="batchFile" value=".\singlePdfCopy.bat"/>
    <add key="serverName" value="pdm.de.moog.com"/>
    <add key="outputFile" value=".\DE_import_2017-11-06.txt"/>
    <add key="misfitToys" value=".\DE_importMisfits_2017-11-06.txt"/>
    <add key="jobTicketLocation" value=".\jobTickets\archive\2017-11-06\"/>
    <add key="uncRawPrefix" value="\\debo1svwi003010.de.moog.com"/>
    <add key="uncPdfPrefix" value="\\debo1svwi003010.de.moog.com\tcpdf"/>
    <add key="adlibDTD" value="C:\AdlibExpress.dtd"/>
    <add key="recentDateTime" value="1900-01-01"/>
    <add key="isWindows" value="true"/>
    <add key="isLuDateTime" value="false"/>
    <add key="isIeDateTime" value="false"/>
  </appSettings>
  -->

  <!-- EA -->
  <appSettings>
    <add key="catalogFile" value=".\PDM-Catalog_2017-11-06.csv"/>
    <add key="inputFile" value=".\EA_2017-11-01.txt"/>
    <add key="batchFile" value=".\singlePdfCopy.bat"/>
    <add key="serverName" value="pdm.moog.com"/>
    <add key="outputFile" value=".\EA_import_2017-11-01.txt"/>
    <add key="misfitToys" value=".\EA_importMisfits_2017-11-01.txt"/>
    <add key="jobTicketLocation" value=".\jobTickets\archive\2017-11-01\"/>
    <add key="uncRawPrefix" value="\\eacmpnas01.moog.com\Vol5_Data\PDM\EA"/>
    <add key="uncPdfPrefix" value="\\eacmpnas01.moog.com\Vol5_Data\PDM\EA\tcpdf"/>
    <add key="adlibDTD" value="C:\AdlibExpress.dtd"/>
    <add key="recentDateTime" value="1900-01-01"/>
    <add key="isWindows" value="false"/>
    <add key="isLuDateTime" value="false"/>
    <add key="isIeDateTime" value="false"/>
  </appSettings>

  <!-- IE -->
  <!--
  <appSettings>
    <add key="catalogFile" value=".\PDM-Catalog_2017-11-06.csv"/>
    <add key="inputFile" value=".\IE_2017-11-01.txt"/>
    <add key="batchFile" value=".\singlePdfCopy.bat"/>
    <add key="serverName" value="pdm.ie.moog.com"/>
    <add key="outputFile" value=".\IE_import_2017-11-01.txt"/>
    <add key="misfitToys" value=".\IE_importMisfits_2017-11-01.txt"/>
    <add key="jobTicketLocation" value=".\jobTickets\archive\2017-11-01\"/>
    <add key="uncRawPrefix" value="\\ieri3svwi003068.ie.moog.com"/>
    <add key="uncPdfPrefix" value="\\ieri3svwi003068.ie.moog.com\tcpdf"/>
    <add key="adlibDTD" value="C:\AdlibExpress.dtd"/>
    <add key="recentDateTime" value="1900-01-01"/>
    <add key="isWindows" value="true"/>
    <add key="isLuDateTime" value="false"/>
    <add key="isIeDateTime" value="true"/>
  </appSettings>
  -->

  <!-- IN -->
  <!--
  <appSettings>
    <add key="catalogFile" value=".\PDM-Catalog_2017-11-06.csv"/>
    <add key="inputFile" value=".\IN_2017-11-01.txt"/>
    <add key="batchFile" value=".\singlePdfCopy.bat"/>
    <add key="serverName" value="inpdm01.in.moog.com"/>
    <add key="outputFile" value=".\IN_import_2017-11-01.txt"/>
    <add key="misfitToys" value=".\IN_importMisfits_2017-11-01.txt"/>
    <add key="jobTicketLocation" value=".\jobTickets\archive\2017-11-01\"/>
    <add key="uncRawPrefix" value="\\inel2svwi003011.in.moog.com\IN"/>
    <add key="uncPdfPrefix" value="\\inel2svwi003011.in.moog.com\IN\tcpdf"/>
    <add key="adlibDTD" value="C:\AdlibExpress.dtd"/>
    <add key="recentDateTime" value="1900-01-01"/>
    <add key="isWindows" value="true"/>
    <add key="isLuDateTime" value="false"/>
    <add key="isIeDateTime" value="false"/>
  </appSettings>
  -->

  <!-- ITC -->
  <!--
  <appSettings>
    <add key="catalogFile" value=".\PDM-Catalog_2017-11-06.csv"/>
    <add key="inputFile" value=".\ITC_2017-11-01.txt"/>
    <add key="batchFile" value=".\singlePdfCopy.bat"/>
    <add key="serverName" value="pdm.itc.moog.com"/>
    <add key="outputFile" value=".\ITC_import_2017-11-01.txt"/>
    <add key="misfitToys" value=".\ITC_importMisfits_2017-11-01.txt"/>
    <add key="jobTicketLocation" value=".\jobTickets\archive\2017-11-01\"/>
    <add key="uncRawPrefix" value="\\itca1svwi003006.it.moog.com"/>
    <add key="uncPdfPrefix" value="\\itca1svwi003006.it.moog.com\tcpdf"/>
    <add key="adlibDTD" value="C:\AdlibExpress.dtd"/>
    <add key="recentDateTime" value="1900-01-01"/>
    <add key="isWindows" value="true"/>
    <add key="isLuDateTime" value="false"/>
    <add key="isIeDateTime" value="false"/>
  </appSettings>
  -->

  <!-- JP -->
  <!--
  <appSettings>
    <add key="catalogFile" value=".\PDM-Catalog_2017-11-06.csv"/>
    <add key="inputFile" value=".\JP_2017-11-01.txt"/>
    <add key="batchFile" value=".\singlePdfCopy.bat"/>
    <add key="serverName" value="pdm.jp.moog.com"/>
    <add key="outputFile" value=".\JP_import_2017-11-01.txt"/>
    <add key="misfitToys" value=".\JP_importMisfits_2017-11-01.txt"/>
    <add key="jobTicketLocation" value=".\jobTickets\archive\2017-11-01\"/>
    <add key="uncRawPrefix" value="\\jphi1svwi003033.jp.moog.com"/>
    <add key="uncPdfPrefix" value="\\jphi1svwi003033.jp.moog.com\tcpdf"/>
    <add key="adlibDTD" value="C:\AdlibExpress.dtd"/>
    <add key="recentDateTime" value="1900-01-01"/>
    <add key="isWindows" value="true"/>
    <add key="isLuDateTime" value="false"/>
    <add key="isIeDateTime" value="false"/>
  </appSettings>
  -->

  <!-- LU -->
  <!--
  <appSettings>
    <add key="catalogFile" value=".\PDM-Catalog_2017-11-06.csv"/>
    <add key="inputFile" value=".\LU_2017-11-01.txt"/>
    <add key="batchFile" value=".\singlePdfCopy.bat"/>
    <add key="serverName" value="pdm.lu.moog.com"/>
    <add key="outputFile" value=".\LU_import_2017-11-01.txt"/>
    <add key="misfitToys" value=".\LU_importMisfits_2017-11-01.txt"/>
    <add key="jobTicketLocation" value=".\jobTickets\archive\2017-11-01\"/>
    <add key="uncRawPrefix" value="\\lujp1svwi003239.lu.moog.com"/>
    <add key="uncPdfPrefix" value="\\lujp1svwi003239.lu.moog.com\tcpdf"/>
    <add key="adlibDTD" value="C:\AdlibExpress.dtd"/>
    <add key="recentDateTime" value="1900-01-01"/>
    <add key="isWindows" value="true"/>
    <add key="isLuDateTime" value="true"/>
    <add key="isIeDateTime" value="false"/>
  </appSettings>
  -->

  <!-- MITC -->
  <!--
  <appSettings>
    <add key="catalogFile" value=".\PDM-Catalog_2017-11-06.csv"/>
    <add key="inputFile" value=".\MITC_2017-11-01.txt"/>
    <add key="batchFile" value=".\singlePdfCopy.bat"/>
    <add key="serverName" value="pdm.in.moog.com"/>
    <add key="outputFile" value=".\MITC_import_2017-11-01.txt"/>
    <add key="misfitToys" value=".\MITC_importMisfits_2017-11-01.txt"/>
    <add key="jobTicketLocation" value=".\jobTickets\archive\2017-11-01\"/>
    <add key="uncRawPrefix" value="\\inel2svwi003011.in.moog.com\MITC"/>
    <add key="uncPdfPrefix" value="\\inel2svwi003011.in.moog.com\MITC\tcpdf"/>
    <add key="adlibDTD" value="C:\AdlibExpress.dtd"/>
    <add key="recentDateTime" value="1900-01-01"/>
    <add key="isWindows" value="true"/>
    <add key="isLuDateTime" value="false"/>
    <add key="isIeDateTime" value="false"/>
  </appSettings>
  -->

  <!-- PH -->
  <!--
  <appSettings>
    <add key="catalogFile" value=".\PDM-Catalog_2017-11-06.csv"/>
    <add key="inputFile" value=".\PH_2017-11-06.txt"/>
    <add key="batchFile" value=".\singlePdfCopy.bat"/>
    <add key="serverName" value="pdm.ph.moog.com"/>
    <add key="outputFile" value=".\PH_import_2017-11-06.txt"/>
    <add key="misfitToys" value=".\PH_importMisfits_2017-11-06.txt"/>
    <add key="jobTicketLocation" value=".\jobTickets\archive\2017-11-06\"/>
    <add key="uncRawPrefix" value="\\PHTCPVOL01.ph.moog.com"/>
    <add key="uncPdfPrefix" value="\\PHTCPVOL01.ph.moog.com\tcpdf"/>
    <add key="adlibDTD" value="C:\AdlibExpress.dtd"/>
    <add key="recentDateTime" value="1900-01-01"/>
    <add key="isWindows" value="true"/>
    <add key="isLuDateTime" value="false"/>
    <add key="isIeDateTime" value="false"/>
  </appSettings>
  -->

  <!-- SLC -->
  <!--
  <appSettings>
    <add key="catalogFile" value=".\PDM-Catalog_2017-11-06.csv"/>
    <add key="inputFile" value=".\SLC_2017-11-06.txt"/>
    <add key="batchFile" value=".\singlePdfCopy.bat"/>
    <add key="serverName" value="pdm.slc.moog.com"/>
    <add key="outputFile" value=".\SLC_import_2017-11-06.txt"/>
    <add key="misfitToys" value=".\SLC_importMisfits_2017-11-06.txt"/>
    <add key="jobTicketLocation" value=".\jobTickets\archive\2017-11-06\"/>
    <add key="uncRawPrefix" value="\\SLCTCVOL01.slc.moog.com"/>
    <add key="uncPdfPrefix" value="\\SLCTCVOL01.slc.moog.com\tcpdf"/>
    <add key="adlibDTD" value="C:\AdlibExpress.dtd"/>
    <add key="recentDateTime" value="1900-01-01"/>
    <add key="isWindows" value="true"/>
    <add key="isLuDateTime" value="false"/>
    <add key="isIeDateTime" value="false"/>
  </appSettings>
  -->

  <!-- STL -->
  <!--
  <appSettings>
    <add key="catalogFile" value=".\PDM-Catalog_2017-11-06.csv"/>
    <add key="inputFile" value=".\STL_2017-11-01.txt"/>
    <add key="batchFile" value=".\singlePdfCopy.bat"/>
    <add key="serverName" value="pdm.stl.moog.com"/>
    <add key="outputFile" value=".\STL_import_2017-11-01.txt"/>
    <add key="misfitToys" value=".\STL_importMisfits_2017-11-01.txt"/>
    <add key="jobTicketLocation" value=".\jobTickets\archive\2017-11-01\"/>
    <add key="uncRawPrefix" value="\\eacmpnas01.moog.com\Vol5_Data\PDM\EA"/>
    <add key="uncPdfPrefix" value="\\eacmpnas01.moog.com\Vol5_Data\PDM\EA\tcpdf"/>
    <add key="adlibDTD" value="C:\AdlibExpress.dtd"/>
    <add key="recentDateTime" value="1900-01-01"/>
    <add key="isWindows" value="true"/>
    <add key="isLuDateTime" value="false"/>
    <add key="isIeDateTime" value="false"/>
  </appSettings>
  -->

  <!-- TOR -->
  <!--
  <appSettings>
    <add key="catalogFile" value=".\PDM-Catalog_2017-11-06.csv"/>
    <add key="inputFile" value=".\TOR_2017-11-06.txt"/>
    <add key="batchFile" value=".\singlePdfCopy.bat"/>
    <add key="serverName" value="pdm.tor.moog.com"/>
    <add key="outputFile" value=".\TOR_import_2017-11-06.txt"/>
    <add key="misfitToys" value=".\TOR_importMisfits_2017-11-06.txt"/>
    <add key="jobTicketLocation" value=".\jobTickets\archive\2017-11-06\"/>
    <add key="uncRawPrefix" value="\\toriman.tor.moog.com"/>
    <add key="uncPdfPrefix" value="\\toriman.tor.moog.com\tcpdf"/>
    <add key="adlibDTD" value="C:\AdlibExpress.dtd"/>
    <add key="recentDateTime" value="1900-01-01"/>
    <add key="isWindows" value="false"/>
    <add key="isLuDateTime" value="false"/>
    <add key="isIeDateTime" value="false"/>
  </appSettings>
  -->

  <!-- UK -->
  <!--
  <appSettings>
    <add key="catalogFile" value=".\PDM-Catalog_2017-11-06.csv"/>
    <add key="inputFile" value=".\UK_2017-11-06.txt"/>
    <add key="batchFile" value=".\singlePdfCopy.bat"/>
    <add key="serverName" value="pdm.uk.moog.com"/>
    <add key="outputFile" value=".\UK_import_2017-11-06.txt"/>
    <add key="misfitToys" value=".\UK_importMisfits_2017-11-06.txt"/>
    <add key="jobTicketLocation" value=".\jobTickets\archive\2017-11-06\"/>
    <add key="uncRawPrefix" value="\\GBGL1SVTC01.uk.moog.com"/>
    <add key="uncPdfPrefix" value="\\GBGL1SVTC01.uk.moog.com\tcpdf"/>
    <add key="adlibDTD" value="C:\AdlibExpress.dtd"/>
    <add key="recentDateTime" value="1900-01-01"/>
    <add key="isWindows" value="true"/>
    <add key="isLuDateTime" value="false"/>
    <add key="isIeDateTime" value="false"/>
  </appSettings>
-->
</configuration>